<%@followings.each do |following|%>
    <div class="posts-index-item">
        <div class = "topic-left"><img src="<%= "/user_images/default_user.jpg"%>"class="imageForindex" ></div>
        <div class="topic-centre">
            <div class= "UserForIndex"><%= link_to(following.name,"/users/#{following.id}",class:"link-delite") %></div>
            <div class="ContentForIndex"><%=following.nick_name%></div>
        </div>
        <div class="right">
        <% if @current_user.following?(following) && @current_user.id != following.id%>
　          <div class ="Follow"><%=link_to"Unfollow?", relationships_destroy_path(:following_id => following.id ), method: "post", class: "follow-place"%></div>
        <% elsif @current_user.id != following.id && @current_user.following?(following) != true%>
　        <div class = "Follow"><%=link_to"Follow?", relationships_create_path(:following_id => following.id ), method: "post", class: "follow-place"%></div>
        <%else%>
          <p></p>
        <%end%>
        </div>
     </div>
<%end%>



