
  <div class="namearea">

     <span> <%=link_to "follow", relationships_create_path(:following_id => @user.id), method: "post"%> </span>

     <% if @user.id== @current_user.id%>
        <h2 class="namearea-for"> <%=link_to(@user.name,"/users/#{@user.id}/edit", class: "usernameedit") %><h2>
     <% else %>
        <h2 class="namearea-for"> <%= @user.name %><h2>
     <% end%>


     <%if @current_user.nick_name%>
       <h3 class="nicknamearea-for"> nickname：<%=@current_user.nick_name%></h3>
     <% else %>
       <%=link_to("wanna make your nickname?","/first_question",class: "nicknameLink")%>
     <% end %>


     <div class = "relation">
        <div class= "followers">
          <p>followers</p>
          <%=link_to @user.followers.count, "/users/#{@user.id}/followers" %>
        </div>
        <div class= "following">
          <p>following</p>
          <%=link_to @user.following.count, "/users/#{@user.id}/following" %>
        </div>
     </div>


  </div>











  <% @user.topics.each do |topic| %>
    <div class="Posts-index-item">
      <div class="topic-areax"> 
        <p class="user"><%= topic.user.name %></p>
          <%= link_to(topic.content,"/posts/#{topic.id}",class: "content") %>
      </div>
      <% if @current_user.id == @user.id%>
        <div class="Edit">
　         <%= link_to("Edit","/topics/#{topic.id}/edit", class: "edit-place")%>
　      </div>
        <div class="Delite">
　         <%= link_to("Delete","/topics/#{topic.id}/destroy",method: "post", class: "delite-place")%> 
　      </div>
      <%end%>
     </div>
  <% end %>




