<% if @error_message %>
      <div class="error">
        <%= @error_message %>
      </div>
<% end %>

<div class ="postArea">
  <div class = "topicarea">
    <div class="topic-content">
      <%=@topic.content%>
    </div>
      <div class="opinion-a">
        <p class ="opinion-blue "><%=@topic.blue %></p>
          <div class = "count_position"> "<%= @position_blue%>" <span>people have agreed to this opinion</span>
          </div>
      </div>
       <div class="opinion-b">
         <p class ="opinion-red"><%=@topic.red%></p> 
           <div class = "count_position"> "<%= @position_red%>"<span>people have agreed to this opinion</span>
           </div>
      </div>
  </div>

 <div class="main posts-index-for-posts">
    <% @posts.each do |post| %>
      <div class="Posts-index-item">
         <div class="topic-areax">

           <%if post.position == "blue" %>  
             <p class="user"><%=link_to(post.user.name,"/users/#{post.user.id}",class: "user-link-blue") %></p>  
           <%else%>
             <p class="user"><%=link_to(post.user.name,"/users/#{post.user.id}",class: "user-link-red") %></p>  
           <%end%>
           <%= post.content %>
         </div>

           <% if post.users_id == @current_user.id%>
           <div class="Edit">
　           <%= link_to("Edit","/posts/#{post.id}/edit",class: "edit-place")%>
　         </div>
           <div class="Delite">
　           <%= link_to("Delete","/posts/#{post.id}/destroy",method: "post", class: "delite-place") %> 
　         </div>
         <%end%>
        

      </div>
    <% end %>
  </div>















  <div class ="PlaceForBox">
     <%= form_tag("/posts/#{@topic.id}/create") do %>
       <textarea name = "content" class = "PlaceForTextArea"></textarea>
       <input type ="submit" class="PlaceForInput" value=go!>
     <% end %>
  </div>

</div>





